.signup{
    height: 80vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.signup-left{
    display: none;
}
.signup-left img{
    display: none;
}

.signup-right{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-right .form{
    height: 60%;
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content:center; 
    align-items: center;
    gap: 10px; 
}


.inputFeild{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap:5px;
}

.signup .signup-right label{
    font-size: 15px;
    font-weight: 600;
    color:#015D53;
}
.input-for-signup{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1.2px solid #015D53;
}

.signup .signup-right input{
   width: 80%;
   border: none;
   outline: none;
   height: 25px;
   font-size: 15px;
   font-weight: 500;
   color: #015D53;
   
}
.resend{
    border:none;
    cursor: pointer;
    font-size: 15px;
    color:#015D53;
    background-color: #ffffff;
}
.signup-right input::placeholder{
    color:#60938085;
}
.signup-right input::selection {
    background-color: #ffffff; 
    color: #015D53; 
  }

  /* Target Chrome autofill */
  .signup-right input:-webkit-autofill {
    background-color: #ffffff !important;
    color: #015D53 !important;
    -webkit-text-fill-color: #015D53 !important;
    transition: background-color 5000s ease-in-out 0s;
  }

.signup-right .signup{
    width:80%;
    height: 25px;
    border:none;
    cursor: pointer;
    border-radius: 40px;
    font-size: 15px;
    color:#015D53;
    background-color:#09cf89;
}

.signup-right .signup:hover{
    color:rgb(240, 239, 239);
    background-color: #015D53;
}
.show-pass-icon{
    font-size: 15px;
    width: 10%;
    color:#015D53;
}
@media screen and (min-width:768px){
    .signup-left{
        display: block;
        height: 100%;
        width: 50%;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    
    .signup-left img{
       display: block;
       height: 100%;
       width: 100%;
       cursor: pointer;
       border: none;
       outline: none;
    }
    .signup-right{ 
        width: 50%;
        border-left :  1.2px  solid #09cf89;
    }
    .signup .signup-right label{
        font-size: 25px;
        
    }
    .signup .signup-right input{
        font-size: 20px;
     }
    
    .signup-right .form{
        width: 60%; 
    }
    .inputFeild{
        width: 70%;
        
    }
    .signup-right .signup{
        width:70%;
        height: 35px;
        font-size: 25px;
        
    }
    .signup-right .form{
        width: 80%;
    }
    .show-pass-icon{
        font-size: 20px;
    }
    .resend{
        font-size: 25px;
    }
}