.result-list-item{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 2px solid #015D53;
    height: 35px;
    align-items: center;
    width: 100%;
    margin-bottom: 5px;
    
}

.result-list-item .items{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
    width: 25%;
    >h3{
        font-size: 15px;
        font-weight: 500;
        text-align: center;
        color: #015D53;
    }
}

@media screen and (min-width:768px){
    .result-list-item .items{
        >h3{
            font-size: 20px;
        }
    }
}
@media screen and (max-width:350px){
    .result-list-item .items{
        >h3{
            font-size: 10px;
        }
    }
}