*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dashboard{
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading{
   width: 90vw;
   height: 10vw;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 5vw;
   font-weight: 500;
   margin-top: 20px;
   background-image: linear-gradient(to top, #09cf89 0%, #f5efef 100%);
   border-radius: 40px;
   text-transform: capitalize;
   color:#015D53;
}
.performanceChart{
    width: 90vw;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #015D53;
    border-radius: 10px;
    margin-top: 20px;
}
.userinfo{
    width: 90vw;
    height: 14vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 20px;
    background-image: linear-gradient(to top, #09cf89 0%, #f5efef 100%);
    border-radius: 40px;
    gap:20px;
    padding-left: 5px;
}

.userinfo .profile{
    height: 100%;
    flex :1;
    display: flex;
    justify-content: center;
    align-items: center;
    > img{
     height: 11vw;
     width: 11vw; 
     border-radius: 50%; 
     object-fit: cover;
     border: 1.5px solid #015D53;
    }
 }
 #fileUpload{
   display: none;
 }
 .userinfo .info{
    height: 100%;
    flex : 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: start;
    text-transform: capitalize;
    flex-direction: column;
    gap:5px;
    >h2 {
      color:#015D53;
      font-size: 2.5vw;
    }
    >h3{
      color:#015D53;
      text-transform: lowercase;
      font-size: 2vw;
    }
}
.edit-profile-icon{
    cursor: pointer;
}
.account-logout-icon{
    position:absolute;
    bottom:10px;
    right:15px;
    font-size: 2vw;
    color:#015D53;
    cursor: pointer;
}
.dash-profile-icon{
    font-size: 50px;
    color:#015D53
}


 .data{
    height: 900px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
    gap: 10px;
}

.data-left{
    position: relative;
    height: 33%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #59a68b69;
    border-radius: 20px;
    gap:20px;
    border: 2px solid rgba(100, 232, 147, 0.406);
    >h1{
        position: absolute;
        top: 5px;
        left: 10px;
        font-size: 2.5vw;
        font-weight: 650;
        color:#015D53;
    }
}
.data-right{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.data-right .box1,.box2 {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
    >h1{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-color: rgb(255, 254, 254);
    }
    >h2{
        font-size: 3.5vw;
    }
}
.data-right .box1{
    background-color: #FFE77AFF;
    color:#015D53;
    >h1{
        
        background-color: #015D53;
        color:#FFE77AFF;
    }
}
.data-right .box2{
    color:#FFE77AFF;
    background-color: #015D53;
    >h1{
       
        color: #015D53;
        background-color:#FFE77AFF;
    }
}


.list-give-quiz, .list-created-quiz{
    width: 90vw;
    height: 300px;
    overflow: auto;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #015D53;
    >h1{
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 3.0vw;
        font-weight: 600px;
        background-color: #FFE77AFF;
        color:#015D53;
    }
    >div{
        width: 98%;
        height:85%;
        overflow: auto;
    }
}

.list-created-quiz{
    margin-bottom: 20px;
}


@media only screen and (min-width:768px) {
    .userinfo{
        max-height: 230px;
        padding: 0;
    }
    .userinfo .profile{
        height: 100%;
        flex :2;
        > img{
         height: 90%;
         width: auto; 
         border-radius: 30px; 
         object-fit: contain;
        }
    }
    .userinfo .info{
        border-left: 2px solid #fff;
        align-items: center;
        gap:15px; 
        >h2 {
            color:#015D53;
            font-size: 2vw;
          }
          >h3{
            color:#015D53;
            text-transform: lowercase;
            font-size: 1.5vw;
          }
    }
    .dash-profile-icon{
        font-size: 200px;
        color:#015D53
    }
    .performanceChart{
        height: 350px;
        border: 2px solid #015D53;
    }
    .data{
        height: 500px;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 20px;
        gap:5px;
    }
    
    .data-left{
        height: 100%;
        width: 40%;
        >h1{
            top: 20px;
            left: 20px;
            font-size: 2vw;
            font-weight: 700;
        }
    }
    .data-right{
        height: 100%;
        width: 50%;
    }
    .data-right .box1, .box2{
        >h2{
            font-size:2vw;
        }
    }

    .list-give-quiz, .list-created-quiz{
        border: 2px solid #015D53;
        height: 400px;
        >h1{
            font-size: 2vw;
            height: 20%;
            font-weight: 600px;
        }
        >div{
            width: 90%;
            height: 75%;
        }
    }
    .account-logout-icon{
        
        font-size: 2vw;
        
    }
    
    
}
